<h2>The members</h2>

<ul class="membercss">
<li *ngFor="let member of members" 
	[class.selected]="member === selectedMember"
	(click)="onSelect(member)">
<span class="badge">{{member.id}}</span>
  {{member.name}}..
<span><button class="delete" title="delete member" (click)="delete(member)">delete</button></span>
</li>
</ul>

<div>
  <label>Member name: <input #addMember id="add-member"/></label>
  <button (click)="add(addMember.value); addMember.value=''">add</button>
</div>

<div *ngIf="selectedMember">
<h2>{{selectedMember.name | uppercase }} Details</h2>
<div><span>id: </span>{{selectedMember.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedMember.name" placeholder="name">
    </label>
	<button (click)="save()">save</button>
  </div>
</div>


<app-member-search></app-member-search>
